---

---

<!-- <div class="mx-auto max-w-7xl md:px-16 print:hidden">
	<a href="https://twitter.com/SmileSharks?utm_source=portfolio_astro" rel="noreferrer" target="_blank" class="flex items-center text-xs justify-center">
		<span class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"
			>Made by Ariel
		</span>
	</a>
</div> -->

<div class="mx-auto max-w-7xl md:px-16 print:hidden">
	<a href="https://astro.build/themes/details/print-friendly-portfolio-cv/" rel="noreferrer" target="_blank" class="flex items-center text-xs justify-center">
		<span class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"
			>Powered by Astro
		</span>
	</a>
</div>
