---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Tail from "@/components/sections/Tail.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`${name} | Resume`}>
	<div class="mx-auto -mb-5  max-w-7xl md:px-16 pt-6 pl-4 print:hidden">
		<ThemeSwitch />
	</div>
	
	<main class="relative grid max-w-7xl gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-6">
		<div class="space-y-6 md:col-span-2 md:order-2 md:pr-8" dir="rtl">
			<Hero />
		</div>
		<div class="space-y-12 md:col-span-4 md:order-1" dir="rtl">
			<About />
			<Experience className="" />
			<Projects className="" />
			<Skills className="" />
			<Education className="order-first" />
		</div>
		<!-- <Tail /> -->
	</main>

</Layout>

<style>
	@page {
		size: auto;
		margin: 0mm;
	}
	main {
		margin: auto;
		width: 100%;
	}
</style>
